.Text {
    text-align: center;
    font-family: sans-serif;
}

.Upgrades {
    font-family: sans-serif;
    text-align: right;
    margin-left: 75%;
    border-radius: 4px;
    margin-top: -300px
}

.Clicker {
    font-family: sans-serif;
    text-align: left;
    background-color: lightgrey;
    width: 300px;
    height: 115px;
    border-radius: 4px;
}

.Stocks {
    font-family: sans-serif;
    margin-top: -175px;
    margin-left: 10px
}

.DirtCo {
    border-radius: 4px;
    width: 300px;
    background-image: linear-gradient(to right, rgb(154, 121, 121), lightgrey);
    box-shadow: inset
}
